/* NavBar.css */
.navbar-custom {
  width: 100%;
  padding: 2rem 2rem;
  background-color: #f5e6d9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Side: Logo and App Name */
.navbar-custom .left-container {
  display: flex;
  align-items: center;
}

/* Logo styling */
.navbar-custom .logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

/* App name beside the logo */
.navbar-custom .app-name {
  font-family: 'DynaPuff', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #2d6169;
  margin-left: 10px;
  white-space: nowrap;
}

/* Right Side: Buttons */
.navbar-custom .right-container {
  display: flex;
  align-items: center;
}

/* Button styles */
.navbar-custom .icon-button {
  border: none;
  margin-right: 10px;
  background: none;
  cursor: pointer;
}

/* Icon styling */
.navbar-custom .icon {
  width: 30px;
  height: 30px;
}

/* Logout button styles */
.navbar-custom .logout-button {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

/* Logout icon styles */
.navbar-custom .logout-icon {
  width: 25px;
  height: 25px;
}